body {
	margin: 0px;
	padding: 0px;
}

#bg {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#bg img {
	height: 120vh;
	width: 105%;
	-webkit-filter: blur(20px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#blackLayer {
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, .2);
	position: absolute;
	z-index: 99;

}

#main {
	width: 25%;
	background-color: #fff;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}

#image img {
	height: 180px;
	width: 100%;
	margin-top: -5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px; 
}

#player {
	padding: 25px;
	color: #333;
	padding-bottom: 50px;
}

#songTitle {
	width: 300px;
	text-align: center;
	font-family: monospace;
	font-size: 18px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#buttons {
	height: 50px;
	width: 100%;
	margin-top: 50px;
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#play, #next, #pre{
	width: 50px;
	height: 50px;
	border: 0;
	background-color: royalblue;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#next {
	width: 30px;
	height: 30px;
	left: 70%;
}

#pre {
	width: 30px;
	height: 30px;
	left: 30%;
}

#play img, #next img, #pre img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#seek-bar {
	width: 250px;
	height: 5px;
	background-color: gray;
	display: flex;
	border-radius: 50px;
	margin-left: 25px;
	cursor: pointer;
}

#fill {
	height: 5px;
	background: royalblue;
	border-radius: 20px;
}

#handle {
	width: 8px;
	height: 8px;
	background: royalblue;
	border-radius: 50%;
	margin-left: -5px;
	transform: scale(2);
}

#currentTime {
	font-family: monospace;
	font-size: 14px;
	position: absolute;
	top: 92%;
	left: 30%;
	transform: translate(-50%, -50%);
}

#volume {
	position: absolute;
	top: 92%;
	left: 78%;
	transform: translate(-50%, -50%);
	display: flex;
}

#volumeIcon {
	height: 25px;
	width: 25px;
	background: royalblue;
	border-radius: 50%;
	cursor: pointer;
}

#volumeIcon img {
	width: 20%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: scale(1) translate(-50%, -50%);
}

#decrease, #increase {
	height: 20px;
	width: 20px;
	background: royalblue;
	border: none;
	outline: none;
	border-radius: 50%;
	font-family: fantasy;
	font-size: 15px;
	color: white;
	text-align: center;
	line-height: 18px;
	position: relative;
	left: -2px;
	top: 3px;
	cursor: pointer;
}

#increase {
	left: 2px;
	top: 3px;
}